@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&family=Shadows+Into+Light&display=swap');

@keyframes mu{
  from{top:0;}
  to{top:-500px;}
}


.hideClass{
  width:0; height:0;
  font-size:0; line-height:0;
}


div#wrap{
  width:100%;

}

#headerWrap{
  position:fixed;
  left:0; top:0;
  width:100%;
  height:110px;
  background-color:rgba(34, 34, 34, 0.9);
  z-index: 999;
}

#menuicon{
  display: none;
}

label{
  display: none;
}


header>h1{
  /* 부모 #headerWrap */
  position: fixed;
  top:1%; left: 0; 
  margin-left:100px;
  width: 100px;
  z-index: 9999;
}


header>h1>a{
  font:4rem  'Shadows Into Light', cursive ;
  color: #fff;
}

header>nav{ 
  width: max-content;
  position: fixed;
  margin: 0 auto;
  left: 300px; right: 0;
  margin-top:40px;
  z-index: 999;
  display: flex;
}

label>img{
  display: none;
}

header>nav>ul{

}

header>nav>ul#main_menu{
  margin-right: 6rem;
}

header>nav>ul#side_menu{
}

header>nav>ul>li{
  margin-left: 25px;
  display: inline-block;
}

header>nav>ul>li>a{
  font:1.3rem 'Shadows Into Light', cursive ;
  color: #fff;
  transition: color 0.5s;


}

header>nav>ul#main_menu>li:nth-child(1)>a:hover{
  color:rgb(218, 191, 44);


}
header>nav>ul#main_menu>li:nth-child(2)>a:hover{
  color:#cd4f96;
}
header>nav>ul#main_menu>li:nth-child(3)>a:hover{
  color:rgb(101, 182, 69);
}
header>nav>ul#main_menu>li:nth-child(4)>a:hover{
  color:rgb(134, 66, 180);
}
header>nav>ul#main_menu>li:nth-child(5)>a:hover{
  color:rgb(224, 102, 64);
}
header>nav>ul#main_menu>li:nth-child(6)>a:hover{
  color:rgb(60, 160, 206);
}
header #side_menu>li>a:hover{
  color: #979797;
}



header>nav>ul#side_menu>li:nth-child(2) img{
  width: 35px;
  height: 35px;
  margin-bottom: 3px;
}

/* section */


section{
  position: relative;
  background-color: #6b6b6b;
  overflow: hidden;
}

section img{
  width:250px;
  height:250px;
  float:right;
}

section #pic>span{
  position:absolute;
  width:30px;
  height:2px;
  background-color: #fff;
  float: left;
  margin-top:20px;
  border-radius:50px;
}

article{
  width:900px;
  margin:0 auto;
  padding:196px 0px 0px;
}

h3{
  font:70px 'Shadows Into Light', cursive ;
  color:rgb(94, 52, 121);
  padding-bottom: 50px;
}

h3>span{
  font:20px 나눔고딕,'sans-serif';
}
#box01{
  width:900px;
  /* height:500px; */
  overflow: hidden;
  margin-bottom: 200px;
  padding:0px 50px 50px 0px;
  box-shadow:3px 3px 3px rgb(0 0 0/ 20%);
}

#pic{
  width:300px;
  float:left;
  clear: both;
}

#info{
  float:right;
  width:500px;
  font:16px 나눔고딕,san-serif;
  color:#fff;
}

#info>dl>span{
  position:absolute;
  width:500px;
  height:1px;
  background-color: #fff;
  float:right;
}

#info>dl>dt>span{
  font:16px  'IBM Plex Sans Arabic', sans-serif;
}

#info h4{
  font:bold 30px  'Gowun Dodum', sans-serif;
  color:rgb(94, 52, 121);
}

#info dl{
  padding-top:20px;
}

#info dl>dt{
  padding:10px 0px 10px;
}

#info dd{
  padding-bottom: 10px;
}

#info dd>p{
  padding-bottom:5px;
}

.box03 img{
  width: 200px;
  height: 200px;
  margin: 50px 50px 0px 0px;
}


/* footerWrap */

#footerWrap{
  /* position: absolute; */
  background-color: rgb(34, 34, 34);
}

#footerWrap div#fu{
  overflow: hidden;
  width:98vw;
  margin:0 auto;
  padding-top:20px;  
}

#footerWrap div#ful{
  float:left;
  width:500px;
  padding-bottom:3px;
}

#footerWrap div#ful>dl{
  padding-bottom:3px;
  font:1rem/1.2rem 나눔고딕,'sans-serif';
}

#footerWrap div#ful dt{
  float:left;
  clear: both;
  color:#666;
}

#footerWrap div#ful dd{
  color:#666;
}

#footerWrap div#fur{
  float:right;
  display: flex;
  color:#666;
  font:1rem 나눔고딕,'sans-serif';
}

#footerWrap div#fur>dl{
  margin-left:20px;
}

#footerWrap div#fur>dl>dt{
  padding-bottom:5px;
}

#footerWrap div#fd{
  width: 98vw;
  height:50px;
  margin: 0 auto;
  color:#666;
}

#footerWrap div#fd li{
  float:left; 
} 

#footerWrap div#fd li>a:after{
  content: " ㅣ";
}


#footerWrap div#fd li>a{
  display: flex;
  margin-right: 5px;
  color:#666;
}

#footerWrap div#fd small{
  float:right;
  font:15px 나눔고딕,'sans-serif';
  color:#666;
}



@media screen and (max-width: 1280px){

  #menuicon{
    display:none;
  }

  #menuicon + label{
    display: block;
    position:fixed;
    left: 20px; top:20px;
    z-index: 9999;
    width: 35px;
    height: 25px;
    cursor: pointer;
  }

  #menuicon + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 30px;
    background-color: #fff;
    transition: all .35s;
  }

  #menuicon + label span:nth-child(1){
    top:0;
  }
  #menuicon + label span:nth-child(2){
    top:50%;
    transform: translateY(-50%);
  }
  #menuicon + label span:nth-child(3){
    bottom:0%;
  }

  #menuicon:checked + label span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);
  }

  #menuicon:checked + label span:nth-child(2){
    opacity: 0;
  }

  #menuicon:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  #menuicon:checked + label + div[id="headerWrap"]{
    left:0;
  }

  #menuicon:checked + label + div[id="headerWrap"] nav{
    left:50px;
  }

  
  #menuicon:checked + label + div[id="headerWrap"] h1{
    left:13px;
  }


  #headerWrap{
      position:fixed;
      left:-250px; top:0;
      width:250px;
      height:100vh;
      background-color:rgba(34, 34, 34, 0.9);
      z-index: 999;
      transition: all .35s;
  }
        

        
  header>h1{
    /* 부모 #headerWrap */
    position: fixed;
    top:60px; left:-250px; 
    margin-left:50px;
    width: 100px;
    z-index: 999;
  }



  header>nav{ 
    position: fixed;
    left:-270px; right: 0;
    top:190px;
    margin: 0;
    display: block;
    z-index: 999;
  }


  header>nav>ul#main_menu{
    margin-bottom:100px;
  }

  header>nav>ul>li{
    margin-left: 25px;
    display: block;
    margin-bottom: 20px;   
  }
  
  header>nav>ul>li>a{
    font:19px 'Shadows Into Light', cursive ;
    color: #fff;  
  }

  /* selection */

  h3{
    font:70px 'Shadows Into Light', cursive ;
    color:rgb(94, 52, 121);
    padding-bottom: 0px;
    margin:-100px 100px 50px;
  }

  #box01{
      display: flex;
      flex-direction: column;
      width:500px;
      overflow: hidden;
      margin-bottom: 200px;
      padding:0px 50px 50px 0px;
      box-shadow:3px 3px 3px rgb(0 0 0/ 20%);
      margin: 100px auto;
    }

  #pic{
    float:none;
    clear: none;
    margin: 0 auto;
  }
  
  #info{
    float:none;
    font:16px 나눔고딕,san-serif;
    color:#fff;
    margin: 0 auto;
  }

  #info>h4{
    margin-top: 50px;
  }
  

  
  /* footerwrap */


  #footerWrap div#ful{
    float:left;
    width:380px;
    padding-bottom:3px;
  }
  

  #footerWrap div#ful>dl{
    padding-bottom:5px;
    font:0.9rem/1.2rem 나눔고딕,'sans-serif';
  }

  #footerWrap div#fur{
    font:0.9rem 나눔고딕,'sans-serif';
    color:#666;
  }
  
  #footerWrap div#fd>ul{
    display: none;
  }

  #footerWrap div#fur>dl{
    margin-left:10px;
  }

  #footerWrap div#fd small{
    font:0.9rem 나눔고딕,'sans-serif';
  }



}

@media screen and (max-width:820px){

    /* selection */
    section img{
      width:250px;
      height:250px;
      float:right;
    
    }

    #info h4{
      font:bold 1.7rem  'Gowun Dodum', sans-serif;
    }
    
    #info>dl>span{
      position:absolute;
      width:400px;
      height:1px;
      background-color: #fff;
      float:right;
    }
    
    #info dd{
      width: 380px;
    }
    
  
    #box01{
      display: flex;
      flex-direction: column;
        width:420px;
        margin-bottom: 200px;
        padding:0px 50px 50px 0px;
        box-shadow:3px 3px 3px rgb(0 0 0/ 20%);
        margin: 100px 20vw;
      }
  
    #pic{
      float:none;
      clear: none;
      margin: 0 auto;
    }
    
    #info{
      float:none;
      font:0.9rem 나눔고딕,san-serif;
      color:#fff;
      margin: 0 auto;
    }
  
    #info>h4{
      margin-top: 50px;
    }
  
    /* footer */

    #footerWrap{
      /* position: absolute; */
      background-color: rgb(34, 34, 34);
      height: 120px;
    }

    #footerWrap div#fu{
      overflow: visible;
      width:50vw;
      margin:0 auto;
      padding-top:25px;  
    }

    #footerWrap div#fur{
      display: none;
    }


    #fd{
      display: none;
    }
}


@media screen and (max-width:720px){

      /* selection */

      h3{
        font:4rem 'Shadows Into Light', cursive ;
        color:rgb(94, 52, 121);
        padding-bottom: 0px;
        margin:-100px 100px 50px;
      }

      section img{
        width: 200px;
        margin-right: 30px;
      }

      .box03 img{
        width: 150px;
        height: 150px;
        margin: 50px 70px 0px 0px;
      }
      
      #info>dl>span{
        position:absolute;
        width:300px;
        height:1px;
        background-color: #fff;
        float:right;
      }
      
      #info dd{
        width: 270px;
      }
      
    
      #box01{
        display: flex;
        flex-direction: column;
          width:300px;
          margin-bottom: 200px;
          padding:0px 50px 50px 0px;
          box-shadow:3px 3px 3px rgb(0 0 0/ 20%);
          margin: 100px 20vw;
        }
      
      #info{
        float:none;
        font:0.8rem 나눔고딕,san-serif;
        color:#fff;
        margin: 0 auto;
      }
    
      #info>h4{
        margin-top: 50px;
        font:bold 1.3rem  'Gowun Dodum', sans-serif;
      }



      #footerWrap div#fu{
        width:60vw;
      }
}

@media screen and (max-width:520px){

  
  h3{
    font:3rem 'Shadows Into Light', cursive ;
    color:rgb(94, 52, 121);
    padding-bottom: 0px;
    margin:-100px 30px 50px;
  }

            
      #box01{
          display: flex;
          flex-direction: column;
          width:280px;
          margin-bottom: 200px;
          padding:0px 50px 50px 0px;
          box-shadow:3px 3px 3px rgb(0 0 0/ 20%);
          margin: 100px 10vw;
        }

  
      #footerWrap div#fu{
        width:90vw;
      }


}

