@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');


/* 646464 */

.hideClass {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}


div#wrap {
  width: 100%;
  overflow: hidden;
}

#headerWrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 110px;
  background-color: rgba(34, 34, 34, 0.9);
  z-index: 999;
}

#menuicon {
  display: none;
}

label {
  display: none;
}


header>h1 {
  /* 부모 #headerWrap */
  position: fixed;
  top: 1%;
  left: 0;
  margin-left: 100px;
  width: 100px;
  z-index: 9999;
}


header>h1>a {
  font: 4rem 'Shadows Into Light', cursive;
  color: #fff;
}

header>nav {
  width: max-content;
  position: fixed;
  margin: 0 auto;
  left: 300px;
  right: 0;
  margin-top: 40px;
  z-index: 999;
  display: flex;
}

label>img {
  display: none;
}

header>nav>ul {}

header>nav>ul#main_menu {
  margin: 0px 10rem 0px 6rem;
}


header>nav>ul#side_menu {}

header>nav>ul>li {
  margin-left: 25px;
  display: inline-block;
}

header>nav>ul>li>a {
  font: 1.3rem 'Shadows Into Light', cursive;
  color: #fff;
  transition: color 0.5s;


}

header>nav>ul#main_menu>li:nth-child(1)>a:hover {
  color: rgb(218, 191, 44);


}

header>nav>ul#main_menu>li:nth-child(2)>a:hover {
  color: #cd4f96;
}

header>nav>ul#main_menu>li:nth-child(3)>a:hover {
  color: rgb(101, 182, 69);
}

header>nav>ul#main_menu>li:nth-child(4)>a:hover {
  color: rgb(134, 66, 180);
}

header>nav>ul#main_menu>li:nth-child(5)>a:hover {
  color: rgb(224, 102, 64);
}

header>nav>ul#main_menu>li:nth-child(6)>a:hover {
  color: rgb(60, 160, 206);
}

header #side_menu>li>a:hover {
  color: #979797;
}



header>nav>ul#side_menu>li:nth-child(2) img {
  width: 35px;
  height: 35px;
  margin-bottom: 3px;
}

/* background */
.first_back {
  background: url();
  width: 100vw;
}

/* section */

/* h3{ 
  font:70px 'Shadows Into Light', cursive ;
  color:#cd4f96;
  margin-bottom:50px;
} */


section {
  background: url(../assets/exhibtion/exhibtion_back.png);

}

.box {
  padding: 100px 0px;
}

/* .back_font{
  font: 20rem 고딕, "sans-serif";
} */

div.box:nth-child(1) {
  background: url(../assets/exhibtion/APMA_font_back1.png) no-repeat 0px 200px;
}

div.box:nth-child(4) {
  background: url(../assets/exhibtion/APMA_font_back2.png) no-repeat 220px 300px;
  background-size: 60rem;
}


div.box:nth-child(5) {
  background: url(../assets/exhibtion/APMA_font_back2.png) no-repeat 220px -250px;
  background-size: 60rem;
}

section>div>figure {
  width: 70vw;
  margin: 0 auto;
  /* background-color: antiquewhite; */
  /* overflow:hidden; */
}


/* div.box01>figure>img{
  float:left;
} */

div.box02>figure>img {
  float: right;
}

.box>figure>img {
  cursor: pointer;
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.9);
  border-radius: 1%;
  filter: grayscale(100%);
  transition: all 0.2s;
}

.box>figure>img:hover {
  filter: grayscale(0%);
}

.same_box>figure>img {
  width: 25rem;
  height: 22rem;
}

.same_box>figure>img:hover {
  width: 26rem;
  height: 23rem;
}

#eh1 {
  margin-top: 50px;
  height: 600px;
}

#eh2,
#eh3,
#eh4 {
  height: 350px;
}

#eh5 {
  margin-bottom: 50px;
  height: 350px;
}

#eh1>img {
  height: 40rem;
  width: 25rem;
}

#eh1>img:hover {
  height: 41rem;
  width: 26rem;
}



/* modal */

.modal {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(40, 40, 40, 0.95);
  z-index: 999;
  position: fixed;
  display: none;
}

.modal>div {
  width: 55vw;
  height: 95vh;
  left: 0%;
  top: 0%;
  margin: 0 auto;
}

.main_text {
  padding-top: 50px;
}

.modal figure {
  width: 22vw;
  height: 65vh;
  float: left;
}

.modal figcaption {
  width: 22vw;
  height: 20vh;
  float: right;
}

.modal figcaption dt {
  font: bold 2.5rem/4rem 'Gothic A1', sans-serif;
  color: white;
}

.modal figcaption dd {
  font: 1rem/1.8rem 'Gothic A1', sans-serif;
  color: white;
}

.modal figure>img {
  width: 25rem;
  height: 58vh;
  border-radius: 5%;
  box-shadow: 7px 7px 15px 5px rgba(255, 255, 255, 0.5);
}


.modal>div>ul {
  width: 40vw;
  display: flex;

}

.modal>div li {
  margin-right: 28px;
  margin-top: 20px;
}

.modal>div li>img {
  width: 8rem;
  height: 15vh;
  border-radius: 5%;
}

.modal>div li>img:hover {
  cursor: pointer;
}

.mClose {
  position: fixed;
  width: 5vh;
  height: 5vh;
  top: 5vh;
  right: 10vw;
  /* background-color:red; */
}

.mClose:hover {
  cursor: pointer;
}

.mClose>span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 30px;
}

.mClose>span:nth-child(1) {
  transform: rotate(-135deg) translateX(0%);
}

.mClose>span:nth-child(2) {
  transform: rotate(-45deg) translateX(0%);
}


#modal1 figure>img {
  width: 25rem;
  height: 65vh;
  border-radius: 5%;
  box-shadow: 7px 7px 15px 5px rgba(255, 255, 255, 0.5);
}

#modal1 ul {
  padding-top: 20px;
}

#modal2 figcaption dt {
  font: bold 1.8rem/3rem 'Gothic A1', sans-serif;
  color: white;
}

#modal2 figcaption dd {
  font: 1rem/1.8rem 'Gothic A1', sans-serif;
  color: white;
}



/* footerWrap */

#footerWrap {
  /* position: absolute; */
  background-color: rgb(34, 34, 34);
}

#footerWrap div#fu {
  overflow: hidden;
  width: 98vw;
  margin: 0 auto;
  padding-top: 20px;
}

#footerWrap div#ful {
  float: left;
  width: 500px;
  padding-bottom: 3px;
}

#footerWrap div#ful>dl {
  padding-bottom: 3px;
  font: 1rem/1.2rem 나눔고딕, 'sans-serif';
}

#footerWrap div#ful dt {
  float: left;
  clear: both;
  color: #666;
}

#footerWrap div#ful dd {
  color: #666;
}

#footerWrap div#fur {
  float: right;
  display: flex;
  color: #666;
}

#footerWrap div#fur>dl {
  margin-left: 20px;
}

#footerWrap div#fur>dl>dt {
  padding-bottom: 5px;
}

/* 이용약관 */

#footerWrap div#fd {
  width: 98vw;
  height: 50px;
  margin: 0 auto;
  color: #666;
}

#footerWrap div#fd li {
  float: left;
}

#footerWrap div#fd li>a:after {
  content: " ㅣ";
}


#footerWrap div#fd li>a {
  display: flex;
  margin-right: 5px;
  color: #666;
}

#footerWrap div#fd small {
  float: right;
  font: 15px 나눔고딕, 'sans-serif';
  color: #666;
}

@media screen and (max-width: 1300px) {

  .modal>div {
    position: relative;
    width: 65%;
    height: 95vh;
    left: 0%;
    top: 0%;
    margin: 0 auto;
    /* background-color: #cd4f96; */
  }

  .main_text {
    padding-top: 50px;
  }

  .modal figure {
    width: 63%;
    height: 65vh;
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
  }

  .modal figcaption {
    width: 23vw;
    height: 20vh;
    position: absolute;
    top: 20px;
    right: 0;
  }

  .modal figcaption dt {
    font: bold 2rem/4rem 'Gothic A1', sans-serif;
  }

  .modal figcaption dd {
    font: 1rem/1.8rem 'Gothic A1', sans-serif;
  }

  .modal figure>img {
    width: 25rem;
    height: 58vh;
  }


  .modal>div>ul {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 130px;
    display: flex;
    justify-content: space-around;
  }

  .modal>div li {
    width: 30%;
    height: 100%;
    margin-top: 0px;
    margin-right: 0px;
  }

  .modal>div li>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
  }

  .modal>div li>img:hover {
    cursor: pointer;
  }


  #modal1 figure>img {
    width: 25rem;
    height: 65vh;
    border-radius: 5%;
  }

  #modal1 ul {
    padding-top: 20px;
  }

  #modal2 figcaption dt {
    font: bold 1.8rem/3rem 'Gothic A1', sans-serif;
  }

  #modal2 figcaption dd {
    font: 1rem/1.5rem 'Gothic A1', sans-serif;
  }


}

@media screen and (max-width: 1000px) {

  .modal>div {
    position: relative;
    width: 60%;
    height: 95vh;
  }


  .modal figure {
    width: 100%;
    height: 60vh;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal figcaption {
    width: 23vw;
    height: 20vh;
  }

  .modal figcaption dt {
    position: fixed;
    top: 69%;
    left: 50%;
    text-align: center;
    z-index: 99;
    transform: translate(-50%, -50%);
    width: 100%;
    font: bold 1.5rem 'Gothic A1', sans-serif;
  }

  .modal figcaption dd {
    display: none;
  }

  .modal figure>img {
    width: 90%;
    height: 100%;
  }


  .modal>div>ul {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
  }

  .modal>div li {
    width: 30%;
    height: 90%;
    margin-top: 0px;
    margin-right: 0px;
  }

  .modal>div li>img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 5%;
  }


  #modal1 figure>img {
    width: 80%;
    height: 100%;
  }

  #modal1 ul {
    padding-top: 20px;
  }

  #modal2 figcaption dt {
    font: bold 1.5rem/3rem 'Gothic A1', sans-serif;
  }

}


@media screen and (max-width: 720px) {

  /* box */
  section>div>figure {
    width: 70vw;
    margin: 0 auto;
  }

  div.box02>figure>img {
    float: none;
  }


  #eh1>img {
    width: 20rem;
    height: 35rem;
  }

  #eh1>img:hover {
    width: 22rem;
    height: 37rem;
  }

  .same_box>figure>img {
    width: 20rem;
    height: 17rem;
  }

  .same_box>figure>img:hover {
    width: 22rem;
    height: 19rem;
  }

}

@media screen and (max-width: 500px) {
  #eh1>img {
    width: 16rem;
    height: 28rem;
  }

  #eh1>img:hover {
    width: 17rem;
    height: 31rem;
  }


  .same_box>figure>img {
    width: 16rem;
    height: 14rem;
  }

  .same_box>figure>img:hover {
    width: 17rem;
    height: 15rem;
  }

  /* modal */

  .modal figcaption dt {
    top: 65%;
    z-index: 99;
    transform: translate(-50%, -50%);
    width: 100%;
    font: bold 1.5rem 'Gothic A1', sans-serif;
  }

  .modal>div li>img {
    width: 90%;
    height: 70%;
  }

  #modal1 figure>img {
    width: 90%;
    height: 80%;
  }

  .modal figure>img {
    width: 90%;
    height: 70%;
  }

  .modal figcaption dt {
    font: bold 1.3rem 'Gothic A1', sans-serif;
  }

  #modal2 figcaption dt {
    font: bold 1.2rem 'Gothic A1', sans-serif;
  }
}