@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.hideClass{
    width:0; height:0;
    font-size:0; line-height:0;
  }


div#wrap{
  width:100%;
  overflow: hidden;
}

#headerWrap{
  position:fixed;
  left:0; top:0;
  width:100%;
  height:110px;
  background-color:rgba(34, 34, 34, 0.9);
  z-index: 999;
}

#menuicon{
  display: none;
}

label{
  display: none;
}


header>h1{
  /* 부모 #headerWrap */
  position: fixed;
  top:1%; left: 0; 
  margin-left:100px;
  width: 100px;
  z-index: 9999;
}


header>h1>a{
  font:4rem  'Shadows Into Light', cursive ;
  color: #fff;
}

header>nav{ 
  width: max-content;
  position: fixed;
  margin: 0 auto;
  left: 300px; right: 0;
  margin-top:40px;
  z-index: 999;
  display: flex;
}

label>img{
  display: none;
}

header>nav>ul{

}

header>nav>ul#main_menu{
  margin-right: 6rem;
}

header>nav>ul#side_menu{
}

header>nav>ul>li{
  margin-left: 25px;
  display: inline-block;
}

header>nav>ul>li>a{
  font:1.3rem 'Shadows Into Light', cursive ;
  color: #fff;
  transition: color 0.5s;


}

header>nav>ul#main_menu>li:nth-child(1)>a:hover{
  color:rgb(218, 191, 44);


}
header>nav>ul#main_menu>li:nth-child(2)>a:hover{
  color:#cd4f96;
}
header>nav>ul#main_menu>li:nth-child(3)>a:hover{
  color:rgb(101, 182, 69);
}
header>nav>ul#main_menu>li:nth-child(4)>a:hover{
  color:rgb(134, 66, 180);
}
header>nav>ul#main_menu>li:nth-child(5)>a:hover{
  color:rgb(224, 102, 64);
}
header>nav>ul#main_menu>li:nth-child(6)>a:hover{
  color:rgb(60, 160, 206);
}
header #side_menu>li>a:hover{
  color: #979797;
}



header>nav>ul#side_menu>li:nth-child(2) img{
  width: 35px;
  height: 35px;
  margin-bottom: 3px;
}

#login_on_menu{
  display: none;
}

/* header */

main{
    background-color: #6b6b6b;
    width:100%;
    height: 100%;
}

section{
  width:700px;
  margin: 0 auto;
  padding-bottom:200px;
}

h3{
  text-align: center;
  padding-top:150px;
  font:3rem 'IBM Plex Sans Arabic', sans-serif;
  color:#313131;
  margin:0px 0px 50px 0px;
}

form{
    width:425px;
    margin:0 auto;
    padding:70px 50px;
    box-shadow:10px 10px 10px rgb(0 0 0/ 20%);
    border:5px solid #444444;
    border-radius: 2%;  
}


form #login_box{
   padding-bottom: 0px;
   margin-left: 70px;
}

#login_box li{
    margin-bottom: 10px;
}

#login_box li>input{
   width:250px;
   height:40px;
   background-color: #6b6b6b;
   border:3px solid #444444;
}

#login_box li:nth-child(1)>input{
  background: url(../src/all_image/name_icon.png) no-repeat 5px center;
  background-size: 27px;
  padding-left: 40px;
}

#login_box li:nth-child(2)>input{
  background: url(../src/all_image/email_icon.png) no-repeat 5px center;
  background-size: 29px;
  padding:3px 3px 0px 40px;
}


button{
  margin:10px 0px 10px 70px;
  width:300px;
  height:40px; 
  border:none;
  font-family: '나눔고딕', sans-serif;
  /* border-radius: 5%; */
}

#btn_find_pw{
  color:#fff;
  background-color:#444444;
}

button:hover{
  cursor: pointer;
}

input::placeholder {
  color:#d8d7d7;
}

#sub_box{
  display: flex;
  overflow:hidden;
  clear: both;
  margin:5px 0px 20px 70px;
}

#sub_box>p{
  color:#2e2e2e;
}

#sub_box>p:nth-child(1):after{
  content: "ㅣ";
}


#sub_box>p:nth-child(2):after{
  content: "ㅣ";
}

#sub_box>p>a{
  color:#2e2e2e;
}


/* footerWrap */

#footerWrap{
  /* position: absolute; */
  background-color: rgb(34, 34, 34);
}

#footerWrap div#fu{
  overflow: hidden;
  width:98vw;
  margin:0 auto;
  padding-top:20px;  
}

#footerWrap div#ful{
  float:left;
  width:500px;
  padding-bottom:3px;
}

#footerWrap div#ful>dl{
  padding-bottom:3px;
  font:1rem/1.2rem 나눔고딕,'sans-serif';
}

#footerWrap div#ful dt{
  float:left;
  clear: both;
  color:#666;
}

#footerWrap div#ful dd{
  color:#666;
}

#footerWrap div#fur{
  float:right;
  display: flex;
  color:#666;
}

#footerWrap div#fur>dl{
  margin-left:20px;
}

#footerWrap div#fur>dl>dt{
  padding-bottom:5px;
}

/* 이용약관 */

#footerWrap div#fd{
  width: 98vw;
  height:50px;
  margin: 0 auto;
  color:#666;
}

#footerWrap div#fd li{
  float:left; 
} 

#footerWrap div#fd li>a:after{
  content: " ㅣ";
}


#footerWrap div#fd li>a{
  display: flex;
  margin-right: 5px;
  color:#666;
}

#footerWrap div#fd small{
  float:right;
  font:15px 나눔고딕,'sans-serif';
  color:#666;
}


@media screen and (max-width: 1280px){

  #menuicon{
    display:none;
  }

  #menuicon + label{
    display: block;
    position:fixed;
    left: 20px; top:20px;
    z-index: 9999;
    width: 35px;
    height: 25px;
    cursor: pointer;
  }

  #menuicon + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 30px;
    background-color: #fff;
    transition: all .35s;
  }

  #menuicon + label span:nth-child(1){
    top:0;
  }
  #menuicon + label span:nth-child(2){
    top:50%;
    transform: translateY(-50%);
  }
  #menuicon + label span:nth-child(3){
    bottom:0%;
  }

  #menuicon:checked + label span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);
  }

  #menuicon:checked + label span:nth-child(2){
    opacity: 0;
  }

  #menuicon:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  #menuicon:checked + label + div[id="headerWrap"]{
    left:0;
  }

  #menuicon:checked + label + div[id="headerWrap"] nav{
    left:50px;
  }

  
  #menuicon:checked + label + div[id="headerWrap"] h1{
    left:13px;
  }



  #headerWrap{
      position:fixed;
      left:-250px; top:0;
      width:250px;
      height:100vh;
      background-color:rgba(34, 34, 34, 0.9);
      z-index: 999;
      transition: all .35s;
  }
        

        
  header>h1{
    /* 부모 #headerWrap */
    position: fixed;
    top:60px; left:-250px; 
    margin-left:50px;
    width: 100px;
    z-index: 999;
  }



  header>nav{ 
    position: fixed;
    left:-270px; right: 0;
    top:190px;
    margin: 0;
    display: block;
    z-index: 999;
  }


  header>nav>ul#main_menu{
    margin-bottom:80px;
  }

  header>nav>ul>li{
    margin-left: 25px;
    display: block;
    margin-bottom: 20px;   
  }
  
  header>nav>ul>li>a{
    font:19px 'Shadows Into Light', cursive ;
    color: #fff;  
  }
 
  h3{
    padding-top:100px;
  }


    /* footerWrap */


    #footerWrap div#ful{
      float:left;
      width:380px;
      padding-bottom:3px;
    }
    
  
    #footerWrap div#ful>dl{
      padding-bottom:5px;
      font:0.9rem/1.2rem 나눔고딕,'sans-serif';
    }
  
    #footerWrap div#fur{
      font:0.9rem 나눔고딕,'sans-serif';
      color:#666;
    }
    
    #footerWrap div#fd>ul{
      display: none;
    }

    #footerWrap div#fur>dl{
      margin-left:10px;
    }
  
    #footerWrap div#fd small{
      font:0.9rem 나눔고딕,'sans-serif';
    }

}

@media screen and (max-width:820px){



  /* footer */

  #footerWrap{
    /* position: absolute; */
    background-color: rgb(34, 34, 34);
    height: 120px;
  }

  #footerWrap div#fu{
    overflow: visible;
    width:50vw;
    margin:0 auto;
    padding-top:25px;  
  }

  #footerWrap div#fur{
    display: none;
  }


  #fd{
    display: none;
  }
}

@media screen and (max-width:720px){

  section{
    width:450px;
    margin: 0 auto;
    padding-bottom:200px;
  }

    
    
  form{
    width:350px;
    padding:70px 50px;
    border:5px solid #444444;
  }

  form #login_box{
      padding-bottom: 10px;
      margin-left: 25px;
  }

  
button{
  margin:0px 0px 10px 25px;
  width:300px;
  height:40px; 
  border:none;
  font-family: '나눔고딕', sans-serif;
  /* border-radius: 5%; */
}

  #sub_box{
    display: flex;
    overflow:hidden;
    clear: both;
    margin:5px 0px 20px 25px;
  }
  

  #footerWrap div#fu{
    width:70vw;
  }
}



@media screen and (max-width:520px){

      section{
        width:400px;
        padding-bottom:200px;
      }

        
      h3{
        padding-top:100px;
        margin-bottom:50px;
      }

        
      form{
        width:280px;
        margin:0 auto;
        padding:70px 30px;
        border-radius: 0%;  
      }

      form #login_box{
          padding-bottom: 10px;
          margin-left: 0px;
      }
      
      #login_box li{
          margin-bottom: 10px;
      }

      #login_box li>input{
        width:80%;
        height:35px;
        border:3px solid #444444;
    }

    

      button{
        width:97%;
        height:35px;
        border:none;
        border-radius: 0%;
      }

     #btn_find_pw{
        margin:-40px 0px 10px 0px;
      }
      
      #sub_box{
        overflow:hidden;
        clear: both;
        margin-left: 0px;
      }

      #login_with_kakao{
        margin:-10px 0px 10px 0px;
        background-color: #fee500;
        color: black;
        display: flex;
        align-items:center; 
      }
      
      #login_with_kakao>img{
        width: 22px;
        height: 22px;
        padding: 0px 10px 0px 70px;
      }
    
        /* footer */
        #footerWrap div#fu{
          width:90vw;
        }
}

