@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&display=swap');




/* font-family: 'Courgette', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Shadows Into Light', cursive 
font-family: 'Gowun Dodum', sans-serif;*/

.hideClass{
    width:0; height:0;
    font-size:0; line-height:0;
    position:absolute;
    visibility:hidden;
  }


div#wrap{
  position: relative;
  width:100%;

}

#headerWrap{
 position:fixed;
 left:0; top:0;
 width:100%;
 background-color:rgba(34, 34, 34, 0.9);
 z-index: 99999;
}

header{
  width:1400px;
  margin:0 auto;

  /* height: 100px; */
  /* background-color: rgba(34, 34, 34, 0.8); */

}
header>h1{float: left;}

header>h1>a{
  font:60px  'Shadows Into Light', cursive ;
  color: #fff;
}
header>nav{
  float:right;
position:relative;
}

header>nav>ul{
   margin-right:200px;

}
header>nav>ul#nl{

  margin-right:400px;
  display: flex;
  padding-top: 30px;

}

header>nav>ul#nl>li:nth-child(1)>a:hover{
  color:rgb(218, 191, 44);
  text-decoration: underline;
}
header>nav>ul#nl>li:nth-child(2)>a:hover{
  color:#fff;
  text-decoration: underline;
}
header>nav>ul#nl>li:nth-child(3)>a:hover{
  color:rgb(101, 182, 69);
  text-decoration: underline;
}
header>nav>ul#nl>li:nth-child(4)>a:hover{
  color:rgb(134, 66, 180);
  text-decoration: underline;
}
header>nav>ul#nl>li:nth-child(5)>a:hover{
  color:rgb(224, 102, 64);
  text-decoration: underline;
}
header>nav>ul#nl>li:nth-child(6)>a:hover{
  color:rgb(60, 160, 206);
  text-decoration: underline;
}


header>nav>ul#nr{
position:absolute;
right:0;
top:30px;
margin-right: 50px;
display:flex;
 
}

header>nav>ul>li{
  margin-left: 30px;
}

header>nav>ul>li>a{
  font:19px 'Shadows Into Light', cursive ;
  color: #fff;

}

/* section */

section{
  position: relative;
   background-color: #6b6b6b;
   overflow: hidden;
}
section img{
  width:250px;
  height:250px;
  float:right;

}

#box02 img{
  width:200px;
  height:200px;
  float:right;

}

#map img{
  width:950px;
  height:400px;
   padding-bottom:50px ;
}

#info dd>img{
  width:20px;
  height: 20px;
  float: left;
  margin-right:5px;
}


article{
  width:950px;
  margin:0 auto;
  padding:196px 0px 0px;
  /* background-color: blueviolet; */
}

h3{
  font:70px 'Shadows Into Light', cursive ;
  color:rgb(23, 82, 131);
  padding-bottom: 50px;
}

#box01{
  width:900px;
  /* height:500px; */
  overflow: hidden;
  margin-bottom: 200px;
  padding:0px 50px 50px 0px;
  box-shadow:3px 3px 3px rgb(0 0 0/ 20%);
}

#box02{
  width:900px;
  /* height:500px; */
  overflow: hidden;
  margin-bottom: 200px;
  padding:25px 50px 75px 0px;
  box-shadow:3px 3px 3px rgb(0 0 0/ 20%);
}



#pic{
  width:300px;
  float:left;
  clear: both;

}

#info{
  float:right;
  width:500px;
  font:16px 나눔고딕,san-serif;
  color:#fff;
}

#info dl>span{
  position:absolute;
  width:500px;
  height:1px;
  background-color: #fff;
  float:right;
}

#info>h4>span{
  font:bold 25px 'IBM Plex Sans Arabic', sans-serif;
}

#info h4{
  font:bold 25px 나눔고딕,san-serif;
  color:rgb(23, 82, 131);
  
}

#info dl{
  padding-top:20px;
}

#info dl>dt{
  padding:10px 0px 10px;

}

#info dd{
  padding-bottom: 10px;
}

#info dd>p{
  padding-bottom:5px;
}


/* footer */

#footerWrap{
  background-color: rgb(34, 34, 34);
}
#footerWrap>footer{
 
}

#footerWrap div#fu{
  overflow: hidden;
  width:1590px;
  margin: 0 auto;
 padding-top:30px;
  
}
#footerWrap div#ful{
  float:left;
  width:500px;
  padding-bottom:3px;
}

#footerWrap div#ful>dl{
  padding-bottom:3px;
  font:15px 나눔고딕,'sans-serif';
}


#footerWrap div#ful dt{
   float:left;
   clear: both;
   color:#666;

}
#footerWrap div#ful dd{
  color:#666;
}

#footerWrap div#fur{

  float:right;
  display: flex;
  color:#666;

}

#footerWrap div#fur>dl{
  margin-left:20px;
}

#footerWrap div#fur>dl>dt{
  padding-bottom:5px;
}

#footerWrap div#fd{
  width:1590px;
  height:50px;
  margin: 0 auto;
}
#footerWrap div#fd>ul{}
#footerWrap div#fd li{
  float:left;
  
} 
#footerWrap div#fd li>a{
  display: flex;
  margin-right: 5px;
}

#footerWrap div#fd small{
  float:right;
  font:15px 나눔고딕,'sans-serif';
  color:#666;
}


