@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



.hideClass{
    width:0; height:0;
    font-size:0; line-height:0;
  }


div#wrap{
  width:100%;
  overflow: hidden;
}

#headerWrap{
  position:fixed;
  left:0; top:0;
  width:100%;
  height:110px;
  background-color:rgba(34, 34, 34, 0.9);
  z-index: 999;
}

#menuicon{
  display: none;
}

label{
  display: none;
}


header>h1{
  /* 부모 #headerWrap */
  position: fixed;
  top:1%; left: 0; 
  margin-left:100px;
  width: 100px;
  z-index: 9999;
}


header>h1>a{
  font:4rem  'Shadows Into Light', cursive ;
  color: #fff;
}

header>nav{ 
  width: max-content;
  position: fixed;
  margin: 0 auto;
  left: 300px; right: 0;
  margin-top:40px;
  z-index: 999;
  display: flex;
}

label>img{
  display: none;
}

header>nav>ul{

}

header>nav>ul#main_menu{
  margin-right: 200px;
}

header>nav>ul#side_menu{
}

header>nav>ul>li{
  margin-left: 25px;
  display: inline-block;
}

header>nav>ul>li>a{
  font:1.3rem 'Shadows Into Light', cursive ;
  color: #fff;
  transition: color 0.5s;


}

header>nav>ul#main_menu>li:nth-child(1)>a:hover{
  color:rgb(218, 191, 44);


}
header>nav>ul#main_menu>li:nth-child(2)>a:hover{
  color:#cd4f96;
}
header>nav>ul#main_menu>li:nth-child(3)>a:hover{
  color:rgb(101, 182, 69);
}
header>nav>ul#main_menu>li:nth-child(4)>a:hover{
  color:rgb(134, 66, 180);
}
header>nav>ul#main_menu>li:nth-child(5)>a:hover{
  color:rgb(224, 102, 64);
}
header>nav>ul#main_menu>li:nth-child(6)>a:hover{
  color:rgb(60, 160, 206);
}
header #side_menu>li>a:hover{
  color: #979797;
}



header>nav>ul#side_menu>li:nth-child(2) img{
  width: 35px;
  height: 35px;
  margin-bottom: 3px;
}

/* galley */


.slider{
  position: relative;
  width: 100%;
  background: #2c3e50;  
}
.myslider{
  height: 650px;
  display: none;
  overflow: hidden;
}

#box01 .slider img{
  width:100vw;
  height:650px;
}

.dotsbox{
  position: absolute;
  left: 50%; top:85%;
  transform: translate(-50%);
  cursor: pointer;
}

.dot{
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3.5px solid #fff;
  border-radius: 50%;
  margin: 0 10px;
  cursor:pointer;
}

.active, .dot:hover{
  border-color: rgba(90, 90, 90, 0.9);
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity:0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

.txt>h1{
  font-size: 2.5rem;
}

.txt>p{
  font-size: 1.2rem;
}

.txt{
  width:100%;
  position: absolute;
  top:53%; left:13%;
  font:bold 1rem 'Shadows Into Light', cursive ;
  color:#fff;
  z-index: 90; 
  text-align: left; 
  -webkit-animation-name: posi;
  -webkit-animation-duration: 2s;
  animation-name: posi;
  animation-duration: 2s;
}

@-webkit-keyframes posi{
  from{left: 25%}
  to {left: 13%;}
}

@keyframes posi{
  from{left: 25%;}
  to{left: 13%;}
}




#box01 .prev{
  width:40px;
  height:46px;
  position:absolute;
  left:30px;
  top:45%;
  z-index:99;
  cursor: pointer;
}
#box01 .prev>span{
  width:30px;
  height:5px;
  background-color:#fff;
  position: absolute;
  border-radius:180px;

}

#box01 .prev>span:nth-child(1){
  top:10px;
  left:5px;
  transform: rotate(135deg) translateX(0%);
}

#box01 .prev>span:nth-child(2){
  top:29px;
  left:5px;
  transform: rotate(45deg) translateX(0%);
}

#box01 .next{
  width:30px;
  height:46px;
  right:30px;
  top:45%;
  position:absolute;
  z-index:99;
  cursor: pointer;
}

#box01 .next>span{
  width:30px;
  height:5px;
  background-color:#fff;
  position: absolute;
  border-radius:180px;
}

#box01 .next>span:nth-child(1){
  top:10px;
  right:5px;
  transform: rotate(-135deg) translateX(0%);
}
#box01 .next>span:nth-child(2){
  top:29px;
  right:5px;
  transform: rotate(-45deg) translateX(0%);
}

/* section */


#box02{
  background:url("../src/all_image/pic_background.png") no-repeat;
  background-size: cover;
  height: 750px;
}


#box02>section{ 
  /* background-color: blue; */
}

#box02 .container{
  /* background-color:#cd4f96; */
  width: 80vw;
  height: 750px;
  padding: 120px 0px;
  margin:0 auto;
  display: grid;
  grid-template-rows: repeat(2,290px);
  grid-template-columns:repeat(3,1fr);
}

.container>.item{
  margin:0% 10%;
  width: 20rem;
}

.container>.item>img{
  width:19rem;
  border-radius:1%;
  box-shadow:7px 7px 20px 10px rgba(0,0,0,0.64);
  transition: all 0.1s;
}

.container>.item:nth-child(even)>img:hover{
  cursor: pointer;
  width:19.5rem;
}

.container>.item:nth-child(1)>img:hover{
  cursor: pointer;
  width:19.5rem;
  height: 520px;
}

.container>.item:nth-child(3)>img:hover{
  cursor: pointer;
  width:19.5rem;
  height: 238px;
}

.container>.item:nth-child(5)>img:hover{
  cursor: pointer;
  width:19.5rem;
  height: 238px;
}

.container>.item1{
  grid-row:1/4;
}

.container>.item1>img{
  height: 510px;
}

.container>.item2>img{

}

.container>.item3>img{
  height: 228px;
}

.container>.item4>img{
}

.container>.item5>img{
  height: 228px;
}

.container p{
  margin-top: 8px;
  font: bold 0.9rem 'Montserrat', sans-serif;
}


/* box03 */


#box03{
  height: 550px;
  background:url('../src/all_image/menu_background.png') no-repeat;
  background-size: cover;
}

#box03>aside{
  width: 88vw;
  margin: 0 auto;
}

#box03 ul{
  display: grid;
  grid-template-columns: repeat(5,280px);
  padding-top: 140px;
}

#box03 ul>li{ 
  margin-right: 2.2rem;

}

#box03 ul>li>a>img{
  width:240px;
  height:240px;
  box-shadow:7px 7px 20px 10px rgba(0,0,0,0.64);
  border-radius: 3px;
  transition: all 0.1s;
}

#box03 ul>li>a>img:hover{
  width:250px;
  height:250px
}

#box03 ul p{
  margin-left:85px;
  margin-top:5px;
  font: bold 1.2rem 'Shadows Into Light', cursive;

}


/* footerWrap */

#footerWrap{
  /* position: absolute; */
  background-color: rgb(34, 34, 34);
}

#footerWrap div#fu{
  overflow: hidden;
  width:98vw;
  margin:0 auto;
  padding-top:20px;  
}

#footerWrap div#ful{
  float:left;
  width:500px;
  padding-bottom:3px;
}

#footerWrap div#ful>dl{
  padding-bottom:3px;
  font:1rem/1.2rem 나눔고딕,'sans-serif';
}

#footerWrap div#ful dt{
  float:left;
  clear: both;
  color:#666;
}

#footerWrap div#ful dd{
  color:#666;
}

#footerWrap div#fur{
  float:right;
  display: flex;
  color:#666;
}

#footerWrap div#fur>dl{
  margin-left:20px;
}

#footerWrap div#fur>dl>dt{
  padding-bottom:5px;
}

/* 이용약관 */

#footerWrap div#fd{
  width: 98vw;
  height:50px;
  margin: 0 auto;
  color:#666;
}

#footerWrap div#fd li{
  float:left; 
} 

#footerWrap div#fd li>a:after{
  content: " ㅣ";
}


#footerWrap div#fd li>a{
  display: flex;
  margin-right: 5px;
  color:#666;
}

#footerWrap div#fd small{
  float:right;
  font:15px 나눔고딕,'sans-serif';
  color:#666;
}


@media screen and (max-width: 1280px){

      #menuicon{
        display:none;
      }

      #menuicon + label{
        display: block;
        position:fixed;
        left: 20px; top:20px;
        z-index: 9999;
        width: 35px;
        height: 25px;
        cursor: pointer;
      }

      #menuicon + label span{
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 30px;
        background-color: #fff;
        transition: all .35s;
      }

      #menuicon + label span:nth-child(1){
        top:0;
      }
      #menuicon + label span:nth-child(2){
        top:50%;
        transform: translateY(-50%);
      }
      #menuicon + label span:nth-child(3){
        bottom:0%;
      }

      #menuicon:checked + label span:nth-child(1){
        top:50%;
        transform: translateY(-50%) rotate(45deg);
      }

      #menuicon:checked + label span:nth-child(2){
        opacity: 0;
      }

      #menuicon:checked + label span:nth-child(3){
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }

      #menuicon:checked + label + div[id="headerWrap"]{
        left:0;
      }

      #menuicon:checked + label + div[id="headerWrap"] nav{
        left:50px;
      }

      
      #menuicon:checked + label + div[id="headerWrap"] h1{
        left:13px;
      }



      #headerWrap{
          position:fixed;
          left:-250px; top:0;
          width:250px;
          height:100vh;
          background-color:rgba(34, 34, 34, 0.9);
          z-index: 999;
          transition: all .35s;
      }
            

            
      header>h1{
        /* 부모 #headerWrap */
        position: fixed;
        top:60px; left:-250px; 
        margin-left:50px;
        width: 100px;
        z-index: 999;
      }



      header>nav{ 
        position: fixed;
        left:-270px; right: 0;
        top:190px;
        margin: 0;
        display: block;
        z-index: 999;
      }


      header>nav>ul#main_menu{
        margin-bottom:100px;
      }

      header>nav>ul>li{
        margin-left: 25px;
        display: block;
        margin-bottom: 20px;   
      }
      
      header>nav>ul>li>a{
        font:19px 'Shadows Into Light', cursive ;
        color: #fff;  
      }

      .txt>h1{
        font-size:2.2rem;
      }
      
      .txt>p{
        font-size: 1.3rem;
      }

      /* box02 */
      #box02{
        background:url("../src/all_image/pic_background.png") no-repeat;
        background-size: cover;
        height: 1100px;
      }

      #box02 .container{
        /* background-color:#cd4f96; */
        width: 82vw;
        height: 750px;
        padding: 120px 0px;
        margin:0 auto;
        display: grid;
        grid-template-rows: repeat(3,290px);
        grid-template-columns:repeat(2,1fr);
      }

      .container>.item1{
        grid-row:1/3;
      }

      /* 메뉴 클릭 box03 */

      #box03{
        height: 800px;
        background:url('../src/all_image/menu_background.png') no-repeat;
        background-size: cover;
      }

      #box03>aside{
        width: 82vw;
        margin: 0 auto;
      
      }

      #box03 ul{
        display: grid;
        grid-template-rows: repeat(2,290px);
        grid-template-columns: repeat(3,1fr);
        padding-top: 140px;
      }

      #box03 ul>li{ 
        margin:0% 10%;
      }

      #box03 ul>li>a>img{
        width:220px;
        height:220px;
      }

      #box03 ul>li>a>img:hover{
        width:230px;
        height:230px
      }

      /* footerWrap */

      #footerWrap div#ful{
        float:left;
        width:380px;
        padding-bottom:3px;
      }
      
    
      #footerWrap div#ful>dl{
        padding-bottom:5px;
        font:0.9rem/1.2rem 나눔고딕,'sans-serif';
      }
    
      #footerWrap div#fur{
        font:0.9rem 나눔고딕,'sans-serif';
        color:#666;
      }
      
      #footerWrap div#fd>ul{
        display: none;
      }

      #footerWrap div#fur>dl{
        margin-left:10px;
      }
    
      #footerWrap div#fd small{
        font:0.9rem 나눔고딕,'sans-serif';
      }
      
      

}


@media screen and (max-width:820px) {
    .txt{
        top:53%;
        left:50%;
        transform: translate(-50%,-50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
      }

      @-webkit-keyframes posi2{
        from {top: 35%;}
        to {top:53%;}
      }

      @keyframes posi2{
        from {top:35%;}
        to{top:53%;}
      }

      .txt>h1{
        font-size:1.8rem;
        text-align: center;
      }
      
      .txt>p{
        display: none;
      }

       /* box02 */
      #box02{
        background:url("../src/all_image/pic_background.png") no-repeat;
        background-size: cover;
        height: 1900px;
      }

      #box02 .container{
        /* background-color:#cd4f96; */
        width: 50vw;
        padding: 120px 0px;
        margin:0 auto;
        display: grid;
        grid-template-rows: repeat(5,290px);
        grid-template-columns:repeat(1, 0px);
      }

      .container>.item1{
        grid-row:1/3;
      }

      /* 메뉴 클릭 box03 */

      #box03{
        height: 1700px;
        background:url('../src/all_image/menu_background.png') no-repeat;
        background-size: cover;
      }

      #box03>aside{
        width: 40vw;
        margin: 0 auto;
      
      }

      #box03 ul{
        display: grid;
        grid-template-rows: repeat(5,290px);
        grid-template-columns:repeat(1, 0px);;
        padding-top: 140px;
      }
      
      #box03 ul p{
        margin-left:75px;
        margin-top: 10px;
        font: bold 1.2rem 'Shadows Into Light', cursive;
        white-space: nowrap;
      }

      /* footer */

      #footerWrap{
        /* position: absolute; */
        background-color: rgb(34, 34, 34);
        height: 120px;
      }

      #footerWrap div#fu{
        overflow: visible;
        width:52vw;
        margin:0 auto;
        padding-top:25px;  
      }

      #footerWrap div#fur{
        display: none;
      }


      #fd{
        display: none;
      }
}




