@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&family=Shadows+Into+Light&display=swap');

@keyframes mu{
  from{top:0;}
  to{top:-500px;}
}


.hideClass{
  width:0; height:0;
  font-size:0; line-height:0;
}


div#wrap{
  width:100%;

}

#headerWrap{
  position:fixed;
  left:0; top:0;
  width:100%;
  height:110px;
  background-color:rgba(34, 34, 34, 0.9);
  z-index: 999;
}

#menuicon{
  display: none;
}

label{
  display: none;
}


header>h1{
  /* 부모 #headerWrap */
  position: fixed;
  top:1%; left: 0; 
  margin-left:100px;
  width: 100px;
  z-index: 9999;
}


header>h1>a{
  font:4rem  'Shadows Into Light', cursive ;
  color: #fff;
}

header>nav{ 
  width: max-content;
  position: fixed;
  margin: 0 auto;
  left: 300px; right: 0;
  margin-top:40px;
  z-index: 999;
  display: flex;
}

label>img{
  display: none;
}

header>nav>ul{

}

header>nav>ul#main_menu{
  margin:0px 10rem 0px 6rem;
}


header>nav>ul#side_menu{
}

header>nav>ul>li{
  margin-left: 25px;
  display: inline-block;
}

header>nav>ul>li>a{
  font:1.3rem 'Shadows Into Light', cursive ;
  color: #fff;
  transition: color 0.5s;


}

header>nav>ul#main_menu>li:nth-child(1)>a:hover{
  color:rgb(218, 191, 44);


}
header>nav>ul#main_menu>li:nth-child(2)>a:hover{
  color:#cd4f96;
}
header>nav>ul#main_menu>li:nth-child(3)>a:hover{
  color:rgb(101, 182, 69);
}
header>nav>ul#main_menu>li:nth-child(4)>a:hover{
  color:rgb(134, 66, 180);
}
header>nav>ul#main_menu>li:nth-child(5)>a:hover{
  color:rgb(224, 102, 64);
}
header>nav>ul#main_menu>li:nth-child(6)>a:hover{
  color:rgb(60, 160, 206);
}
header #side_menu>li>a:hover{
  color: #979797;
}



header>nav>ul#side_menu>li:nth-child(2) img{
  width: 35px;
  height: 35px;
  margin-bottom: 3px;
}

/* section */
section{
  position:relative;
}

#box01{  
  width:100%;

}

#box01>img{
  left:0; top:0;
  width:100%;
  z-index: 9;
  height: 100vh;
}

#box01>h3{
  position: absolute;
  width:15%;
  left: 50%;
  transform: translateX(-50%);
  top:300px;
  text-align: center;
  font: 6rem 'Shadows Into Light', cursive ;
  color:#fff;
  z-index: 120;
  text-shadow: 0 2px 0 #000,
  1px 4px 0 #373737,
  2px 6px 0 #373737,
  3px 8px 0 #373737,
  4px 10px 0  #373737,
  5px 12px 0 rgba(49, 49, 49, 0.5),
  6px 14px 0 rgba(51, 51, 51, 0.5);
  transition: all 0.5s;
}

#box01>h3:hover{
  color:rgb(218, 191, 44);
  cursor: pointer;
}



/*  */

#box02{
  background-color: #2c2c2c;
}

#box02 h3{
  font:70px 'Shadows Into Light', cursive ;
  color:rgb(218, 191, 44);
  text-align: center;
}

#box02>div{
  width:1000px;
  margin:0 auto;
  padding:500px 0px 100px;
}

#box02 dl{
  margin:50px 0px;
}

#box02 dt{
  font:30px  'Gowun Dodum', sans-serif;
  color:rgb(216, 195, 77);
  text-align: center;

}
#box02 dd{
  font:16px/25px 나눔고딕,san-serif;
  color:rgb(212, 205, 160);
  text-align:center ;
}



/* footerWrap */

#footerWrap{
  /* position: absolute; */
  background-color: rgb(34, 34, 34);
}

#footerWrap div#fu{
  overflow: hidden;
  width:98vw;
  margin:0 auto;
  padding-top:20px;  
}

#footerWrap div#ful{
  float:left;
  width:500px;
  padding-bottom:3px;
}

#footerWrap div#ful>dl{
  padding-bottom:3px;
  font:1rem/1.2rem 나눔고딕,'sans-serif';
}

#footerWrap div#ful dt{
  float:left;
  clear: both;
  color:#666;
}

#footerWrap div#ful dd{
  color:#666;
}

#footerWrap div#fur{
  float:right;
  display: flex;
  color:#666;
  font:1rem 나눔고딕,'sans-serif';
}

#footerWrap div#fur>dl{
  margin-left:20px;
}

#footerWrap div#fur>dl>dt{
  padding-bottom:5px;
}

#footerWrap div#fd{
  width: 98vw;
  height:50px;
  margin: 0 auto;
  color:#666;
}

#footerWrap div#fd li{
  float:left; 
} 

#footerWrap div#fd li>a:after{
  content: " ㅣ";
}


#footerWrap div#fd li>a{
  display: flex;
  margin-right: 5px;
  color:#666;
}

#footerWrap div#fd small{
  float:right;
  font:15px 나눔고딕,'sans-serif';
  color:#666;
}


@media screen and (max-width: 1280px){
  

  #menuicon{
    display:none;
  }

  #menuicon + label{
    display: block;
    position:fixed;
    left: 20px; top:20px;
    z-index: 9999;
    width: 35px;
    height: 25px;
    cursor: pointer;
  }

  #menuicon + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 30px;
    background-color: #fff;
    transition: all .35s;
  }

  #menuicon + label span:nth-child(1){
    top:0;
  }
  #menuicon + label span:nth-child(2){
    top:50%;
    transform: translateY(-50%);
  }
  #menuicon + label span:nth-child(3){
    bottom:0%;
  }

  #menuicon:checked + label span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);
  }

  #menuicon:checked + label span:nth-child(2){
    opacity: 0;
  }

  #menuicon:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  #menuicon:checked + label + div[id="headerWrap"]{
    left:0;
  }

  #menuicon:checked + label + div[id="headerWrap"] nav{
    left:50px;
  }

  
  #menuicon:checked + label + div[id="headerWrap"] h1{
    left:13px;
  }


  #headerWrap{
      position:fixed;
      left:-250px; top:0;
      width:250px;
      height:100vh;
      background-color:rgba(34, 34, 34, 0.9);
      z-index: 999;
      transition: all .35s;
  }
        

        
  header>h1{
    /* 부모 #headerWrap */
    position: fixed;
    top:60px; left:-250px; 
    margin-left:50px;
    width: 100px;
    z-index: 999;
  }



  header>nav{ 
    position: fixed;
    left:-270px; right: 0;
    top:170px;
    margin: 0;
    display: block;
    z-index: 999;
  }


  header>nav>ul#main_menu{
    margin-bottom:50px;
    margin-left: 0px;
  }

  header>nav>ul>li{
    margin-left: 25px;
    display: block;
    margin-bottom: 20px;   
  }
  
  header>nav>ul>li>a{
    font:19px 'Shadows Into Light', cursive ;
    color: #fff;  
  }

  #box01>h3{
    font: 5.5rem 'Shadows Into Light', cursive ;
  }

  /* box02 */
    
  #box02{
    overflow: hidden;
    margin: 0 auto;

  }

  #box02 h3{
    font:3.7rem 'Shadows Into Light', cursive ;
  }

  #box02 dl{
    margin:50px 5%;
  }
  
  #box02 dt{
    font:1.5rem  'Gowun Dodum', sans-serif;
  }

  #box02 dd{
    font:0.9rem/25px 나눔고딕,san-serif;
  }

  #box02>.box03{
    width:70vw;
    margin:0 auto;
    padding:400px 0px 100px;
  }

  /* footerwrap */


  #footerWrap div#ful{
    float:left;
    width:380px;
    padding-bottom:3px;
  }
  

  #footerWrap div#ful>dl{
    padding-bottom:5px;
    font:0.9rem/1.2rem 나눔고딕,'sans-serif';
  }

  #footerWrap div#fur{
    font:0.9rem 나눔고딕,'sans-serif';
    color:#666;
  }
  
  #footerWrap div#fd>ul{
    display: none;
  }

  #footerWrap div#fur>dl{
    margin-left:10px;
  }

  #footerWrap div#fd small{
    font:0.9rem 나눔고딕,'sans-serif';
  }
  
}

@media screen and (max-width:820px) {

    #box01>h3{
      position: absolute;
      width:20%;
      left: 50%;
      transform: translateX(-73%);
      top:300px;
    }
    
    /* box02 */

  
    #box02 h3{
      font:3rem 'Shadows Into Light', cursive ;
    }
  
    #box02 dl{
      margin:50px 5%;
    }
    
    #box02 dt{
      font:1.5rem  'Gowun Dodum', sans-serif;
    }
  
    #box02 dd{
      font:0.9rem/25px 나눔고딕,san-serif;
    }
  
    #box02>.box03{
      width:70vw;
      margin:0 auto;
      padding:400px 0px 100px;
    }

    /* footer */

    #footerWrap{
      /* position: absolute; */
      background-color: rgb(34, 34, 34);
      height: 120px;
    }

    #footerWrap div#fu{
      overflow: visible;
      width:50vw;
      margin:0 auto;
      padding-top:25px;  
    }

    #footerWrap div#fur{
      display: none;
    }


    #fd{
      display: none;
    }
}


@media screen and (max-width:720px) {


  #box02 .container{
    /* background-color:#cd4f96; */
    width: 50vw;
  }

  #box03>aside{
    width: 40vw;
    margin: 0 auto;
  
  }

  #footerWrap div#fu{
    width:70vw;
  }

}


@media screen and (max-width:500px) {

    #box01>h3{
      position: absolute;
      width:50%;
      left: 50%;
      transform: translateX(-50%);
      top:300px;
      text-align: center;
      font: 5rem 'Shadows Into Light', cursive ;
      color:#fff;
      z-index: 120;
      text-shadow: 0 2px 0 #000,
      1px 4px 0 #373737,
      2px 6px 0 #373737,
      3px 8px 0 #373737,
      4px 10px 0  #373737,
      5px 12px 0 rgba(49, 49, 49, 0.5),
      6px 14px 0 rgba(51, 51, 51, 0.5);
      transition: all 0.5s;
    }

    
        /* footer */
        #footerWrap div#fu{
          width:85vw;
        }



}

