@media screen and (max-width: 1280px) {


    /* footerwrap */


    #footerWrap div#ful {
        float: left;
        width: 380px;
        padding-bottom: 3px;
    }


    #footerWrap div#ful>dl {
        padding-bottom: 5px;
        font: 0.9rem/1.2rem 나눔고딕, 'sans-serif';
    }

    #footerWrap div#fur {
        font: 0.9rem 나눔고딕, 'sans-serif';
        color: #666;
    }

    #footerWrap div#fd>ul {
        display: none;
    }

    #footerWrap div#fur>dl {
        margin-left: 10px;
    }

    #footerWrap div#fd small {
        font: 0.9rem 나눔고딕, 'sans-serif';
    }


}

@media (max-width: 1000px) {

    .board_title {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .board_title strong {
        color:rgb(94, 52, 121);
        font: 4.5rem  'Shadows Into Light', cursive;
    }

    .board_title p {
       display: none;
    }
    
    

    .serach_box>input:nth-child(1){
        width: 60%;;
    }

    .serach_box>input:nth-child(2){
        width: 10%;
    }
    
    .board_wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .board_list .num,
    .board_list .writer,
    .board_list .count {
        display: none;
    }  

    .board_list .date {
        width: 40%;
    }

    .board_list .title {
        text-indent: 10px;
    }


    .board_list .top .title {
        text-indent: 0;
    }

    .board_page a {
        width: 26px;
        height: 26px;
    }

    .board_page a.bt {
        padding-top: 7px;
    }

    .board_page a.num {
        padding-top: 6px;
    }

    .board_view .info dl {
        width: 50%;
        padding: 0;
    }

    .board_view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    .board_view .info dl::before {
        display: none;
    }

    .board_view .info dl dt,
    .board_view .info dl dd {
        font-size: 1.2rem;
    }

    .board_write .info dl {
        width: 49%;
    }

    .board_write .info dl:first-child {
        margin-right: 2%;
    }

    .board_write .title dt,
    .board_write .info dt {
        display: none;
    }

    .board_write .title dd,
    .board_write .info dd {
        width: 100%;
    }

    .board_write .title input[type="text"],
    .board_write .info input[type="text"],
    .board_write .info input[type="password"] {
        width: 100%;
    }
}

@media screen and (max-width:820px) {

    /* footwrap */
    #footerWrap {
        /* position: absolute; */
        background-color: rgb(34, 34, 34);
        height: 120px;
    }

    #footerWrap div#fu {
        overflow: visible;
        width: 50vw;
        margin: 0 auto;
        padding-top: 25px;
    }

    #footerWrap div#fur {
        display: none;
    }


    #fd {
        display: none;
    }

}

@media screen and (max-width:720px) {

    /* footer */
    #footerWrap div#fu {
        width: 70vw;
    }
}

@media screen and (max-width:520px) {

    /* footer */
    #footerWrap div#fu {
        width: 85vw;
    }
}